*{
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 105vh;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #fff;
  position: relative;
}
.SectionContent{
  margin-left: 30%;
  margin-top: 15%;
  margin-right: 3%;
  text-align: justify;
}

.SectionContent mark {
  
  color: white;
  background:rgba(0, 0, 0, 0.3)
}

section {
  height: 110vh;
  font-size: 30px;
  font-weight: 100;
  background-color: #136997;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
section:nth-child(1) {
  background: rgb(0, 0, 0);
}
section:nth-child(2) {
  width: 100%;
  /* linear-gradient:(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/intro.jpg"); */
  background-image: url("./image/intro.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(3) {
  width: 100%;
  background-image: url("./image/prehistoric.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(4) {
  width: 100%;
  background-image: url("./image/eqypt.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(5) {
  width: 100%;
  background-image: url("./image/China3.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(6) {
  width: 100%;
  background-image: url("./image/Greek.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(7) {
  width: 100%;
  background-image: url("./image/medieval.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(8) {
  width: 100%;
  background-image: url("./image/16th.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(9) {
  width: 100%;
  background-image: url("./image/17th.jpg");
  background-size: cover;
  background-position: relative;
}
section:nth-child(10) {
  width: 100%;
  background-image: url("./image/18th.jpg");
  background-size: cover;
  background-position: relative;
}

section:nth-child(11) {
  width: 100%;
  background-image: url("./image/19th.jpg");
  background-size: cover;
  background-position: relative;
}

section:nth-child(12) {
  width: 100%;
  background-image: url("./image/20th.jpg");
  background-size: cover;
  background-position: relative;
}

section:nth-child(13) {
  width: 100%;
  background-image: url("./image/21st.jpg");
  background-size: cover;
  background-position: relative;
}

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.nav {
  margin: 0 0 90px 30px;
}
.nav__counter {
  font-size: 24px;
  transition: all 0.15s ease-out;
}
.nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
  overflow: visible;
}
.nav li:after {
  content: "";
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  color: #fff;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
  background: rgba(0, 0, 0, 0.35);
  padding-bottom: 5px;
}
.nav li.active:after {
  width: 40px;
  height: 400px;
  top: 35px;
}
.nav li.active .nav__counter {
  font-size: 48px;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}

/*# sourceMappingURL=scss.css.map */
